# Notion integration token
NOTION_TOKEN=secret_xxx

# Root page ID or full page ID without query params
NOTION_ROOT_PAGE_ID=362fec1b60548042aefff824d5c13a08

# Home page ID. This page should contain one yaml code block for VitePress home frontmatter.
NOTION_HOME_PAGE_ID=363fec1b605480fcb4b4e510057c0766
